.theme-light {

  --background-modifier-border: transparent;
  --background-modifier-border-hover: transparent;

  --color-accent:rgb(255, 94, 0);
  --color-accent-1: rgb(250, 190, 59);
  --color-accent-2: rgb(255, 68, 130);
  --color-accent-3: rgb(255, 144, 150);

  --colorpicker: hsl(244, 100%, 85%);
}

.theme-dark {
  --background-modifier-border: transparent;
  --background-modifier-border-hover: transparent;

  --color-accent:rgb(57, 155, 56);
  --color-accent-1: rgb(250, 190, 59);
  --color-accent-2: rgb(158, 174, 252);
  --color-accent-3: rgb(255, 144, 150);
  --colorpicker: hsl(244, 100%, 85%);


  --background-modifier-border: transparent;
  --background-modifier-border-hover: transparent;

  --color-accent:rgb(255, 94, 0);
  --color-accent-2: rgb(255, 68, 130);
  --color-accent-3: rgb(255, 144, 150);

  --colorpicker: hsl(244, 100%, 85%);
  --bold-color:red;

  --h1-color: #4666ff;
  --h2-color: #fe0c0c;
  --h3-color: #7ec445;
  --h4-color: #ff884a;
  --h5-color:#ff92a2;
  --h6-color: #9455ec;



  --color-accent:rgb(57, 155, 56);
  --color-accent-1: rgb(250, 190, 59);
  --color-accent-2: rgb(158, 174, 252);
  --color-accent-3: rgb(255, 144, 150);

  --colorpicker: hsl(244, 100%, 85%);

  --h1-color: #aebcff;
  --h2-color: #ffaaaa;
  --h3-color: #bee4a0;
  --h4-color: #f8ccb4;
  --h5-color:#ffccdd;
  --h6-color: #dfc8ff;

  --bold-color:rgb(255, 166, 166);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro|Noto+Sans+Mono|Poppins:wght@200|Source+Sans+Pro|Nanum+Myeongjo+Serif");

/* === FARGE === */
.theme-light {
  --color-accent:rgb(255, 94, 0);
  --color-accent-1: rgb(250, 190, 59);
  --color-accent-2: rgb(255, 68, 130);
  --color-accent-3: rgb(255, 144, 150);

  --colorpicker: hsl(244, 100%, 85%);
  
}
.theme-dark {

  --background-modifier-border: transparent;
  --background-modifier-border-hover: transparent;

  --color-accent:rgb(57, 155, 56);
  --color-accent-1: rgb(250, 190, 59);
  --color-accent-2: rgb(158, 174, 252);
  --color-accent-3: rgb(255, 144, 150);

  --colorpicker: hsl(244, 100%, 85%);
}
/* === TEKST === */
body.theme-light {
  --h1-color: #4666ff;
  --h2-color: #ff6e6e;
  --h3-color: #92ca63;
  --h4-color: #ff9f6c;
  --h5-color:#ff92a2;
  --h6-color: #a884da;
  
  --bold-color:red;
  --italic-color: #6075df;
  
  /* Tags */
  --tag-color: #fe0c0c;
  --tag-background: #fdd0d6;
  --tag-background-hover:  #fc7085;

  /* LENKER */
  --link-color: #ff884a;
  --link-color-hover: rgb(255, 183, 125);
  --link-external-color: #4666ff;
  --link-external-color-hover: #b6c7f9;
  --link-unresolved-color: #ff92a2;
  --link-unresolved-decoration-color: #ff92a2;
}
body.theme-dark {
  --h1-color: #B4C3FF;
  --h2-color: #ffaaaa;
  --h3-color: #bee4a0;
  --h4-color: #f8ccb4;
  --h5-color:#ffccdd;
  --h6-color: #dfc8ff;
 
  --bold-color:rgb(255, 202, 202);
  --italic-color: #bac6ff;

  /* Tags */
  --tag-color: #100cfe;
  --tag-background: #fff3da;
  --tag-background-hover:  #ffa7b4;
}
body{
  /* OVERSKRIFT OG TEKST */
  --h1-font: 'Source Serif Pro', serif;
  --h2-font: 'Source Serif Pro', serif;
  --h3-font: 'Source Serif Pro', serif;
  --h4-font: 'Arial', sans-serif;
  --h5-font: 'Arial', sans-serif;
  --h6-font: 'Arial', sans-serif;
  
  --h1-size:2em;
  --h2-size:1.5em;
  --h3-size:1.5em;
  --h4-size:1.7em;
  --h5-size:1.25em;
  --h6-size:1.25em;
  
  --h1-weight:600;
  --h2-weight:600;
  --h3-weight:600;
  --h4-weight:500;
  --h5-weight:500;
  --h6-weight:500;
  --normal-weight:400;
  --bold-weight:600;
  
  --h1-variant:all-small-caps;
  --h2-variant:normal;
  --h3-variant:normal;
  --h4-variant:all-small-caps;
  --h5-variant:normal;
  --h6-variant:normal;
  
  --h1-style:normal;
  --h2-style:normal;
  --h3-style:italic;
  --h4-style:normal;
  --h5-style:normal;
  --h6-style:italic;

  --bold-weight: 600;
  
  /* Tags */
  --tag-size: inherit;
  --tag-color-hover: var(--text-accent);
  --tag-decoration: none;
  --tag-decoration-hover: none;
  
  /* LENKER */
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: 0px;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
  --link-external-filter: none;
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;
  
}

.inline-title {
  font-weight: var(--inline-title-weight);
  font-size: var(--inline-title-size);
  line-height: var(--inline-title-line-height);
  font-style: var(--inline-title-style);
  font-variant: var(--inline-title-variant);
  font-family: var(--inline-title-font);
  margin-bottom: var(--inline-title-margin-bottom);
  letter-spacing: -0.015em;
  color: var(--inline-title-color);
}

.cm-s-obsidian,.markdown-source-view,.markdown-source-view.mod-cm6.cm-scroller {
  line-height: var(--line-height);
  font-family: var(--font-text);
}
.novel.cm-line {
  line-height: var(--line-height);
  font-family: var(--font-draft);
}

span.cm-strong, span.cm-strong.cm-s-obsidian span.cm-quote, span.cm-strong.cm-quote.cm-quote-1 {
  font-weight: var(--bold-weight);
  color: var(--bold-color);
}

span.cm-em, span.cm-em.cm-quote.cm-quote-1 {
  color: var(--itallic-color);
}

.markdown-source-view.mod-cm6.is-readable-line-width.cm-embed-block>div, 
.markdown-source-view.mod-cm6.is-readable-line-width.cm-embed-block>mjx-container, 
.markdown-source-view.mod-cm6.is-readable-line-width.mod-empty {
  /* */
  width: 100% !important; 
  max-width: 100%!important;
  margin-right: auto;
  margin-left: 20px!important;
}
.is-live-preview.metadata-container{ 
  margin-left: 20px !important;
  margin-right: 20px !important; 
  max-width: 100% !important;
}