.theme-light {

}
.theme-dark {

}
body {
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--interactive-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent !important;
}
.note {

}
.novel {
  --blockquote-background-color: transparent;
  --blockquote-border-color: transparent;
  --blockquote-border-thickness: 0px;
  --blockquote-color: inherit;
  --blockquote-font-family: "Source Serif Pro", serif;
  --blockquote-font-style: italic;
  --blockquote-size:var(--h6-size);
}
.draft {
  
}
.theme-light.draft{

}
.theme-dark .draft{

}
.callout[data-callout="plain"] .callout-content, .callout[data-callout="cite"] .callout-content, .callout[data-callout="code"] .callout-content {
  --blockquote-border-color: transparent;
  --blockquote-font-family: "Source Serif Pro", serif;
  --blockquote-size: var(--h6-size);
}
/*  */
blockquote {
  display: block;
  margin-inline-start: 20px !important;
  font-size: calc(var(--font-text-size) + 1px) !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-block-start: 0.1em !important;
  margin-block-end: 0.1em !important;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  font-style: var(--blockquote-style);
  background-color: var(--blockquote-background-color);
}
span.cm-quote.cm-strong {
  color: var(--bold-color);
}
span.cm-quote.cm-em, span.cm-em, span.cm-em.cm-quote.cm-quote-1 {
  color: var(--italic-color);
}
span.cm-quote.cm-comment-start , span.cm-quote.cm-comment-end {
  color:red;
}