@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro|Noto+Sans+Mono|Poppins:wght@200|Source+Sans+Pro");

/* ===== Blockquote ===== */
body {
  --blockquote-background-color: transparent;
  --blockquote-mark: rgb(64, 43, 255);
  
  --blockquote-border-thickness: 1px;
  --blockquote-border-color: var(--interactive-accent);

  --blockquote-font-style: italic;
  --blockquote-color: inherit;
  --blockquote-font-family: "Source serif pro", serif;
  --blockquote-size: 0.8em;
}

/* Blokken */
.markdown-rendered blockquote {
  font-size: var(--blockquote-size);
  font-style: var(--blockquote-font-style);
  background-color: var(--blockquote-background-color);
  border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  font-family: var(--blockquote-font-family);
}

.markdown-source-view.mod-cm6.is-readable-line-width .HyperMD-quote, .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  
  font-style: normal;
  font-family: "open sans", sans-serif;
  font-size: var(--code-block-size);
  padding-left: 15px;
}

/*Blokk-markør*/
.cm-s-obsidian span.cm-formatting-quote, .cm-s-obsidian .hmd-inactive-line span.cm-formatting-quote {
  color: var(--blockquote-mark);
}
/*Ramme*/
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6 .cm-blockquote-border:before {
  content: "\200b";
  display: block;
  width: var(--blockquote-width);
  border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  color: transparent;
  position: absolute;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
  left: 0;
}

.markdown-source-view.mod-cm6 .cm-blockquote-border {
  display: inline-block;
}

.cm-s-obsidian span.cm-quote {
  color: var(-text-color);
  font-family: var(--blockquote-font-family);
  font-style: italic;
}