@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro|Noto+Sans+Mono|Poppins:wght@200|Source+Sans+Pro");
/* ===== CSSCLASS ===== */
.novel {
--h1-font: "Source Serif Pro", serif;
--h2-font: "Source Serif Pro", serif;
--h3-font: "Source Serif Pro", serif;
--h4-font: "Source Serif Pro", serif;
--h5-font: "Source Serif Pro", serif;
--h6-font: "Source Serif Pro", serif;

--font-monospace-theme: "Source Serif Pro", serif;
--font-monospace: "Open sans", sans-serif;
--font-text: "Source Serif Pro", serif;

--h1-color: #4666ff;
--h2-color: #fe0c0c;
--h3-color: #7ec445;
--h4-color: #ff884a;
--h5-color:#ff92a2;
--h6-color: #9455ec;

--code-number-color: transparent;

--blockquote-border-color: transparent;
--blockquote-size:var(--h6-size);
--blockquote-font-family: "Source Serif Pro", serif;
--embed-max-height:500px;
}

.novel .callout[data-callout="blank-container"] {
  font-family:"Source Serif Pro", serif;
}

.note {
--h1-font: "Open sans", sans-serif;
--h2-font: "Open sans", sans-serif;
--h3-font: "Open sans", sans-serif;
--h4-font: "Open sans", sans-serif;
--h5-font: "Open sans", sans-serif;
--h6-font: "Open sans", sans-serif;
--font-text: "Open sans" serif;

--code-number-color: rgb(182, 181, 181);
--font-monospace-theme: "Open sans", sans-serif;
--font-monospace: "Open sans", sans-serif;
--font-text: "Open sans", sans-serif;
}

.wide-note {
--file-line-width: 100%;
}

/* === CUSTOM ADMONITIONS === 

.callout.is-collapsible{

}
.callout.is-collapsible.is-collapsed:hover{
  none
}

.callout.is-collapsible.callout-fold.svg-icon{

}
.callout.is-collapsible.is-collapsed.callout-title.callout-fold.svg-icon{
}
.callout-fold.svg-icon

svg.svg-icon .callout-title {
    height: var(--icon-size);
    width: var(--icon-size);
    stroke-width: var(--icon-stroke);
}

*/

.draft {
  --text-accent: gray;
  --font-note: "Source serif pro", serif;
  --font-draft: "Source serif pro", serif;
  --font-interface: "Inter", sans-serif;
  --font-mono: "Arial", sans-serif;
  --font-text: var(--font-note);

  /* Inline title */
  --inline-title-color: var(--color-accent-2);
  --inline-title-font: var(--font-mono);
  --inline-title-size: 1.4em;
  --inline-title-style: normal;
  --inline-title-variant: normal;
  --inline-title-weight: 300;

  /* OVERSKRIFT */
  --h1-color: black;
  --h2-color: black;
  --h3-color: black;
  --h4-color: black;
  --h5-color: black;
  --h6-color: black;

  --h1-font: "Arial", sans-serif;
  --h2-font: "Source serif pro", serif;
  --h3-font: "Source serif pro", serif;
  --h4-font: "Source serif pro", serif;
  --h5-font: "Arial", sans-serif;
  --h6-font: "Arial", sans-serif;

  --h1-size:1.6em;
  --h2-size:1.5em;
  --h3-size:1.5em;
  --h4-size:1.6em;
  --h5-size:1.25em;
  --h6-size:1.25em;

  --h1-weight:600;
  --h2-weight:500;
  --h3-weight:500;
  --h4-weight:400;
  --h5-weight:400;
  --h6-weight:300;
  --normal-weight:300;
  --bold-weight:600;

  --h1-variant:all-small-caps;
  --h2-variant:normal;
  --h3-variant:normal;
  --h4-variant:all-small-caps;
  --h5-variant:normal;
  --h6-variant:normal;

  --h1-style:normal;
  --h2-style:normal;
  --h3-style:italic;
  --h4-style:normal;
  --h5-style:normal;
  --h6-style:italic;

  /* Bold */
  --bold-colors: black;
  --bold-color: black;

  /* Italic */
  --italic-colors: gray;
  --itallic-color:  black;
  /* Tags */
  --tag-size: inherit;
  --tag-color: #2e3156;
  --tag-color-hover: var(--text-accent);
  --tag-decoration: none;
  --tag-decoration-hover: none;
  --tag-background: #b6c7f9;;
  --tag-background-hover:  #cbd7ff;

  /* LENKER */
  --link-color: #6b6b78;
  --link-color-hover: #9797a3;
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: 0px;
  --link-external-color: #484350;
  --link-external-color-hover: #434750;
  --link-external-decoration: underline;
  --link-external-decoration-hover: none;
  --link-external-filter: none;
  --link-unresolved-color: #362f6f;
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: #75494f;

  --bold-weight: 600;

  --code-number-color: transparent;
  --code-comment:gray;

--blockquote-border-color: transparent;
--blockquote-size:var(--h6-size);
--blockquote-font-family: "Source Serif Pro", serif;
--embed-max-height: 500px;
}
.callout[data-callout="plain"], .callout[data-callout="cite"], .callout[data-callout="code"] {
  border: 0;
  border-color: transparent;
  padding-top: 10px;
  background-color: transparent;
}

.callout[data-callout="plain"] .admonition-title-icon, .callout[data-callout="cite"] .admonition-title-icon, .callout[data-callout="code"] .admonition-title-icon {
  color: transparent;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
.callout[data-callout="plain"] .callout-title, .callout[data-callout="cite"] .callout-title, .callout[data-callout="code"] .callout-title {
  background-color: transparent;
  color: var(--text-color);
  font-style: normal;
  font-family: Arial;

  padding: 0px;
  margin: 0px;
  left: 0; 
}

.callout[data-callout="plain"] .callout-content, .callout[data-callout="cite"] .callout-content, .callout[data-callout="code"] .callout-content {
  background-color: transparent;
  color: var(--text-color);
  font-style: italic;
  font-family: "Source serif pro", serif;
  text-align: left;
  
  --font-note: "Source serif pro", serif;
  --font-draft: "Source serif pro", serif;
  --font-interface: "Inter", sans-serif;
  --font-mono: "Arial", sans-serif;
  --font-text: var(--font-note);

  --h1-font: "Source serif pro", serif;
  --h2-font: "Source serif pro", serif;
  --h3-font: "Source serif pro", serif;
  --h4-font: "Arial", sans-serif;
  --h5-font: "Arial", sans-serif;
  --h6-font: "Arial", sans-serif;

  --color-accent-2:gray;
  --color-accent:gray;
  --list-marker-color:gray;
  --h1-color: black;
  --h2-color: black;
  --h3-color: black;
  --h4-color: black;
  --h5-color: black;
  --h6-color: black;
  /* Bold */
  --bold-colors: black;
  --bold-color: black;

  /* Italic */
  --italic-colors: black;
  --italic-color:  black;
  --tag-color: #2e3156;
  --tag-color-hover: var(--text-accent);
  --tag-background: #b6c7f9;;
  --tag-background-hover:  #cbd7ff;
  
  /* Link */
  --link-color: #6b6b78;
  --link-color-hover: #9797a3;
  --link-external-color: #484350;
  --link-external-color-hover: #434750;
  --link-unresolved-color: #362f6f;
  --link-unresolved-decoration-color: #75494f;

  --h1-size:1.8em;
  --h2-size:1.3em;
  --h3-size:1.3em;
  --h4-size:1.7em;
  --h5-size:1.25em;
  --h6-size:1.25em;

  --normal-weight:200;
  --bold-weight:500;

  --h1-variant:all-small-caps;
  --h2-variant:normal;
  --h3-variant:normal;
  --h4-variant:all-small-caps;
  --h5-variant:normal;
  --h6-variant:normal;

  --h1-style: var(--bold-weight);
  --h2-style: normal;
  --h3-style: italic;
  --h4-style: var(--bold-weight);
  --h5-style: normal;
  --h6-style: italic;


  /* LENKER */
  --link-decoration: underline;
  --link-decoration-hover: none;
  --link-decoration-thickness: 0px;
  --link-external-decoration: underline;
  --link-external-decoration-hover: none;
  --link-external-filter: none;
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;


  --bold-weight: 600;

  --code-number-color: transparent;
  --code-comment:gray;

  --blockquote-border-color: transparent;
  --blockquote-size: var(--h6-size);
  --blockquote-font-family: "Source Serif Pro", serif;
}

