@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro|Noto+Sans+Mono|Poppins:wght@200|Source+Sans+Pro");

/* ===== CALLOUTS ===== */

body {
  --callout-font-family: var(--font-text);
  --callout-font-size: 10px;
  --callout-border-width: 0px;
  --callout-border-opacity: 0.25;
  --callout-padding: 0 0 0 0;
  --callout-radius: var(--radius-s);
  --callout-blend-mode: var(--highlight-mix-blend-mode);
  --callout-title-color: inherit;
  --callout-title-padding: 20px;
  --callout-title-size: inherit;
  --callout-content-padding: 0;

  --callout-bug: ;
  --callout-default: ;
  --callout-error: ;
  --callout-example: ;
  --callout-fail: ;
  --callout-important: ;
  --callout-info: 255, 131, 150;
  --callout-question: ;
  --callout-success: ;
  --callout-summary: ;
  --callout-tip: ;
  --callout-todo: ;
  --callout-warning: ;
  --callout-quote: ;
  --rgb01-pink: 255, 131, 150;
  --rgb01-red: 239, 62, 91;
  --rgb01-orange:255, 136, 74;
  --rgb01-yellow: 241 250 140;
  --rgb01-green: 116, 195, 101;
  --rgb01-cyan: 153, 153, 255;
  --rgb01-blue: 70, 102, 255;
  --rgb01-purple: 148, 85, 236;
}

.callout, .callout .is-collapsible.is-collapsed, .callout .is-collapsible {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-width: var(--callout-border-width);
  background-color: rgba(var(--callout-color), 0.1);
  padding: var(--callout-padding);
  font-family:var(--callout-font-family);
  box-shadow: none;
  border-left: var(--size-2-3) solid rgba(var(--callout-color));
}

.callout .callout-title {
  padding-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgba(var(--callout-color), 0.3);
  align-items: center;
}

.callout .callout-content {
  background-color: rgba(var(--callout-color), 0.01);
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-note);
  
  align-items: center;
}
.callout .callout-icon{
  width: 15px;
  margin-left: 3px;
  color:rgba(var(--callout-color), 0.6);
  align-items: center;
}
.callout:not(.admonition).drop-shadow {
  box-shadow: none;
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block>mjx-container, .markdown-source-view.mod-cm6.is-readable-line-width .mod-empty,.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block>mjx-container, .markdown-source-view.mod-cm6.is-readable-line-width .mod-empty {
  width: calc(var(--line-width-adaptive) - var(--folding-offset))!important;
  max-width: 88%;
}

.novel .callout .callout-content {
  font-family: var(--font-draft);
}

/* KNAPPER*/
.markdown-source-view.mod-cm6.is-live-preview.is-readable-line-width .cm-embed-block>.edit-block-button {
  width: 30px!important;
  padding-left: 7px!important;
  transform: none!important;
  margin-left: 0!important;
}

.callout-fold {
  width: 30px!important;
  padding-left: 7px!important;
  transform: none!important;
  opacity: 0.9;
  /* color: transparent; */
}

/* === CUSTOM ADMONITIONS === 

.callout.is-collapsible{

}
.callout.is-collapsible.is-collapsed:hover{
  none
}

.callout.is-collapsible.callout-fold.svg-icon{

}
.callout.is-collapsible.is-collapsed.callout-title.callout-fold.svg-icon{
}
.callout-fold.svg-icon

svg.svg-icon .callout-title {
    height: var(--icon-size);
    width: var(--icon-size);
    stroke-width: var(--icon-stroke);
}

*/


/* Multi-column */
.callout[data-callout="multi-column"] {
  --callout-color: #7d7d7d00;
  font-family: var(--callout-font-family);
}
/* Blank-container */
.callout[data-callout="blank-container"] {
  --callout-color: #7d7d7d00;
  padding: 10px;
  font-family: var(--callout-font-family);
}
/* Viktig */
.callout[data-callout="viktig"] {
  border:transparent;
  font-weight: 200;
  font-family: var(--font-draft);
  background-color: #fddddd;
  color: #ff4646;
  font-style: italic;
}
.callout[data-callout="viktig"].callout-content {
  padding: 20px;
  font-size: var(--h5-size);
  font-family: var(--font-draft);
  font-weight: 200;
}
.callout[data-callout="viktig"].callout-icon {
  color: transparent;
}

/*NB! Denne som lager rar hovereffekt i minimal:
.markdown-source-view.mod-cm6 .cm-content>.cm-embed-block[contenteditable=false]{overflow-x:auto}*/

.callout.is-collapsible .callout-fold svg.lucide-chevron-down {
  transform: scaleY(-1);
}
.callout.is-collapsed .callout-fold svg.lucide-chevron-down {
  transform: scaleY(1);
}
.callout-title .callout-title-inner {
  flex-grow: 1;
}
.code-border .markdown-rendered pre, .code-border .markdown-rendered p > code {
  outline: 1px solid var(--border-subtle-0);
}