@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro|Noto+Sans+Mono|Poppins: wght@200|Source+Sans+Pro");

body{
    --font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    --font-monospace-default: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;

    --font-draft: "Source serif pro", serif;
    --font-novel: "Poppins", sans-serif;
    --font-note: "Open sans", sans-serif;
    --font-text: var(--font-default);

    --file-header-font-size: var(--font-ui-small);

    --bold-modifier:300;

    --h1-font: var(--font-default);
    --h2-font: var(--h1-font);
    --h3-font: var(--h1-font);
    --h4-font: var(--font-draft);
    --h5-font: var(--h4-font);
    --h6-font: var(--h4-font);

    --h1-style: normal;
    --h1-variant: all-small-caps;
    --h2-style: normal;
    --h2-variant: normal;
    --h3-style: italic;
    --h3-variant: normal;
    --h4-style: normal;
    --h4-variant: all-small-caps;
    --h5-style: normal;
    --h5-variant: normal;
    --h6-style: italic;
    --h6-variant: normal;

    --font-text-size:0.5em;
    --font-ui-smaller: calc(var(--font-text-size)* 0.7);
    --font-ui-small: calc(var(--font-text-size)* 0.8);
    --font-ui-medium: var(--font-text-size);
    --font-ui-large: calc(var(--font-text-size)* 1.1);
    --h1-size: calc(var(--font-text-size)* 1.5);
    --h2-size: calc(var(--font-text-size)* 1.4);
    --h3-size: calc(var(--font-text-size)* 1.3);
    --h4-size: calc(var(--font-text-size)* 1.5);
    --h5-size: calc(var(--font-text-size)* 1.1);
    --h6-size: calc(var(--font-text-size)* 1);

    --p-spacing:0.5rem;

    --h1-weight: calc(var(--font-weight) + var(--bold-modifier));
    --h2-weight: calc(var(--font-weight) + var(--bold-modifier));
    --h3-weight: calc(var(--font-weight) + var(--bold-modifier));
    --h4-weight: calc(var(--font-weight) + var(--bold-modifier));
    --h5-weight: calc(var(--font-weight) + var(--bold-modifier));
    --h6-weight: calc(var(--font-weight) + var(--bold-modifier));

    --tag-size: calc(var(--font-ui-small));
    --tag-decoration:none;
    --tag-padding-y:2px;
    --tag-decoration-hover: none;

    --code-white-space: pre-wrap;
    --code-border-width: 0px;
    --code-radius: var(--radius-s);
    --code-size: var(--font-smaller);

    --comment-color:var(--color-accent-1);
    --comment-color-start-end:var(--color-accent);

    --inline-title-color: var(--color-accent);

    --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
    --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);

    --code-border-color: var(--background-modifier-border);
    --code-bracket-background: var(--background-modifier-hover);
    --code-background: hsla(var(--interactive-accent-hsl), 0.08);

    --code-border-color: var(--background-modifier-border);
    --code-bracket-background: var(--background-modifier-hover);

    --code-normal: var(--text-normal);
    --code-comment: var(--text-faint);
    --code-function: var(--color-yellow);
    --code-important: var(--color-orange);
    --code-keyword: var(--color-pink);
    --code-operator: var(--color-red);
    --code-property: var(--color-cyan);
    --code-punctuation: var(--text-muted);
    --code-string: var(--color-green);
    --code-tag: var(--color-red);
    --code-value: var(--color-purple);

    --comment-color-start-end:var(--color-accent-2);
/*
TAGG
    --tag-decoration: none;
    --tag-decoration-hover: none;
    --tag-border-width: 0px;
    --tag-padding-x: 0.65em;
    --tag-padding-y: 0.25em;
    --tag-radius: 2em;
    --tag-weight: inherit;

Code

:var(--font-text);
: calc(var(--font-text-size)* 0.7);

    --inline-title-font: var(--font-interface);
    --inline-title-style: normal;
    --inline-title-variant: normal;
    --inline-title-weight: 400;
    --inline-title-size: var(--h3-size);

SPACING og LINJEAVSTAND 
    --paragraph-spacing: 0.1em;
    --paragraph-spacing-editing: 0.1em;
    --line-height-normal: 1,5em;
    --line-height-tight: 1,5em;
    --inline-title-line-height: var(--h5-line-height);
    --inline-title-margin-bottom: 0.3em;
*/}
.theme-light {/**/}
.theme-dark {/**/}

body:not(.is-mobile) {
    --font-text-size:0.5em;
    --font-ui-smaller: calc(var(--font-text-size)* 0.7);
    --font-ui-small: calc(var(--font-text-size)* 0.8);
    --font-ui-medium: var(--font-text-size);
    --font-ui-large: calc(var(--font-text-size)* 1.1);

    --h1-size: calc(var(--font-text-size)* 1.5);
    --h2-size: calc(var(--font-text-size)* 1.4);
    --h3-size: calc(var(--font-text-size)* 1.3);
    --h4-size: calc(var(--font-text-size)* 1.5);
    --h5-size: calc(var(--font-text-size)* 1.1);
    --h6-size: calc(var(--font-text-size)* 1);
    --p-spacing:0.5rem;
    --file-line-width:1000px;
/*
    --paragraph-spacing: 0.1em;
    --paragraph-spacing-editing: 0.1em;
    --line-height-normal: 1,5em;
    --line-height-tight: 1,5em;
    --inline-title-line-height: var(--h5-line-height);
    --inline-title-margin-bottom: 0.3em;
*/}
body.is-mobile, .is-mobile {

/*

*/}

/* ================ KOMMENTARER ================== */
span.cm-quote.cm-comment, .cm-meta, .cm-comment, .cm-meta {
    color: var(--comment-color);
/*

*/}
.cm-comment-start, .cm-comment-end {
    color:var(--comment-color-start-end) !important;
/*

*/}
span.cm-quote.cm-strong {
    color: var(--bold-color);
/*

*/}
span.cm-quote.cm-em, span.cm-em, span.cm-em.cm-quote.cm-quote-1 {
    color: var(--italic-color);
/*

*/}

/* ================= INLINE CODE ==================== */
.cm-s-obsidian .cm-inline-code:not(.cm-formatting){
    padding: 0.01em 0.3em;
/*

*/}
.cm-s-obsidian span.cm-inline-code {

/*
    color: var(--inline-code-color);
    font-size: inherit;
    background-color: var(--inline-code-background);
    vertical-align: baseline;
    font-family: inherit;
*/}
.cm-s-obsidian span.cm-inline-code span.cm-inline-code.cm-hmd-indented-code {
    background-color: transparent;
/*

*/}
.cm-s-obsidian span.cm-inline-code span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {

/*
    background-color: var(--inline-code-background);
    vertical-align: baseline;
*/}
.cm-s-obsidian span.cm-inline-code span.cm-inline-code.hmd-hidden-token {

/*
    font-size: var(--font-ui-smaller);
*/}
.cm-s-obsidian span.cm-inline-code.CodeMirror div.HyperMD-hover > .HyperMD-hover-content code {

/*
    display: inline-block;
    font-size: var(--font-ui-smaller);
    border: 1px solid #999;
    border-radius: 2px;
    padding: 0px 4px;
*/}
.cm-s-obsidian span.cm-inline-code {
    color: var(--inline-code-color);
    font-size: var(--font-ui-small);
    background-color: var(--inline-code-background);
/*
    vertical-align: baseline;
    font-family: inherit;
*/}
.cm-s-obsidian span.cm-inline-code span.cm-inline-code.cm-hmd-indented-code {

/*
    background-color: transparent;
*/}
.cm-s-obsidian span.cm-inline-code span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: var(--inline-code-background);

/*
    vertical-align: baseline;
*/}
.cm-s-obsidian span.cm-inline-code span.cm-inline-code.hmd-hidden-token {

/*
    font-size: inherit;
*/}
.cm-s-obsidian span.cm-inline-code.CodeMirror div.HyperMD-hover > .HyperMD-hover-content code {

/*
    display: inline-block;
    font-size: var(--code-size);
    border: none;
    border-radius: 2px;
    padding: 0px 4px;
*/}
/* ====================== TAGGER ============================= 

a.tag {
    color: var(--tag-color);
    background-color: var(--tag-background);
    border: none;
    font-size: var(--tag-size);

    border-radius: var(--tag-radius);

    text-decoration: var(--tag-decoration);
    padding: var(--tag-padding-y) var(--tag-padding-x);
    line-height: 1;
}
.cm-hashtag {
    color: var(--tag-color);
    background-color: var(--tag-background);
    border: var(--tag-border-width) solid var(--tag-border-color);
    font-size: var(--tag-size);
    vertical-align: baseline;
    border-left: none;
    border-right: none;
    padding-top: var(--tag-padding-y);
    padding-bottom: var(--tag-padding-y);
}

*/
/* ======================= LENKER ================================= */
body {
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: 0px;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;

  --link-external-filter: none;
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;

  --link-weight: inherit;
}
.external-link {
  color: var(--link-external-color);
  text-decoration-line: var(--link-external-decoration);
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent), url(public/images/874d8b8e340f75575caa.svg);
  background-size: 13px;
  padding-right: 16px;
  background-position-y: 4px;
  cursor: var(--cursor-link);
  filter: var(--link-external-filter);}
@media (hover: hover) {.external-link:hover {
  color: var(--link-external-color-hover);
  text-decoration-line: var(--link-external-decoration-hover);}}
.markdown-rendered .internal-link {
  cursor: var(--cursor-link);
  text-decoration-line: var(--link-decoration);}
@media (hover: hover) {.markdown-rendered .internal-link:hover {
  text-decoration-line: var(--link-decoration-hover);}}
.markdown-rendered .internal-link.is-unresolved {
  color: var(--link-unresolved-color);
  opacity: var(--link-unresolved-opacity);
  filter: var(--link-unresolved-filter);
  text-decoration-style: var(--link-unresolved-decoration-style);
  text-decoration-color: var(--link-unresolved-decoration-color);}
@media (hover: hover) {.markdown-rendered .internal-link.is-unresolved:hover {
  opacity: 1;
  color: var(--link-color-hover);
  text-decoration-color: var(--link-color-hover);
  text-decoration-line: var(--link-decoration-hover);}}
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--link-color);}
.cm-s-obsidian span.cm-hmd-internal-link:hover {
  text-decoration-line: var(--link-decoration-hover);
  color: var(--link-color-hover);}
.cm-s-obsidian span.cm-link {
  color: var(--link-external-color);
  word-break: break-word;}
@media (hover: hover) {.cm-s-obsidian span.cm-link:hover {
  color: var(--link-external-color-hover);
  text-decoration-line: var(--link-external-decoration-hover);}}
.cm-s-obsidian span.cm-formatting-link.cm-url, .cm-s-obsidian span.cm-url {
  color: var(--link-external-color);
  text-decoration-line: var(--link-external-decoration);
  filter: var(--link-external-filter);
  word-break: break-all;}
@media (hover: hover) {.cm-s-obsidian span.cm-formatting-link.cm-url:hover, .cm-s-obsidian span.cm-url:hover {
  color: var(--link-external-color-hover);
  text-decoration-line: var(--link-external-decoration-hover);}}
