/* ====== MOBILE ====== */

.is-mobile {
  --icon-size:20px;
  --icon-s: 10px;
  --icon-m: 12x;
  --icon-l: 15px;
  --icon-l-stroke-width: 1.8px;
  --icon-opacity: 0.9;

  --nav-item-parent-padding:10px;
  --nav-item-size: 10px;

  --size-4-2:5px;
  --size-4-4:10px;

  --ribbon-width: 20px;
  --mobile-toolbar-height: 30px;

  --mobile-sidebar-width: 220px;
  --mobile-sidebar-max-width: 300px;

  --file-margins: 10px;

  /* Farger på elementer i WS */
  
  --caret-color: rgb(47, 0, 255); /*Dette er fargen på blinketingen i skrivefelt */

}

/*
  
  --checkbox-size: 15px;

  --input-height: 20px;

  

  --header-height: 0px;
  --ribbon-width: 27px;
  --mobile-toolbar-height: 10px;
  --background-modifier-border-hover:green;

  --interactive-normal: var(--color-accent-2); Farge på knapper
  --caret-color: var(--text-accent);
  --input-shadow-hover: none;
  --input-font-weight: 400;

  --search-clear-button-size: 16px;
  --slider-thumb-border-width: 0px;
  --toggle-width: 48px;
  --toggle-radius: 26px;
  --toggle-thumb-radius: 26px;
  --toggle-thumb-height: 26px;
  --toggle-thumb-width: 26px;

  --file-margins: 30px;

  --checkbox-size: 15px;

  --embed-line-height: 1.2em;
  --embed-max-height: 400px;
  --embed-decoration-style:transparent;
  --embed-background:transparent;
  --embed-padding:10px;

  --nav-item-color: var(--text-normal);

  --icon-l-stroke-width: 1.8px;
  --icon-opacity: 0.9;
  --interactive-normal: var(--background-secondary);
  --search-clear-button-size: 16px;
  --slider-thumb-border-width: 0px;
  --toggle-width: 48px;
  --toggle-radius: 26px;
  --toggle-thumb-radius: 26px;
  --toggle-thumb-height: 26px;
  --toggle-thumb-width: 26px;
  --nav-item-padding: 0;

  Mobile tab switcher
  --tab-switcher-menubar-background: var(--mobile-sidebar-background);
  --tab-switcher-background: var(--background-secondary);
  --tab-switcher-preview-radius: var(--radius-xl);
  --tab-switcher-preview-background-shadow: 0 4px 30px 2px rgba(0, 0, 0, 0.2);
  --tab-switcher-preview-shadow: 0 0 0 1px rgba(var(--mono-rgb-100), 0.05);
  --tab-switcher-preview-shadow-active: 0 0 0 2px var(--color-accent);


.is-mobile body.anp-border-layout .workspace {
  margin-right: 0px !important;
}

.is-mobile .workspace-tab-header {
  height: 32px;
  padding-top: 10px;
  background-color: transparent;
  border-color: transparent;
}
.is-mobile .workspace-tab-header-inner {
  border: none 
}
.is-mobile body.card-layout-pad-open.is-tablet .workspace {
  gap: 8px;
  padding: 0px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 0px;
  margin-right: 10px;
  border: none
}

.is-mobile .is-mobile .workspace-tab-header.is-active .workspace-tab-header-inner {
  background: transparent;
  border: none
}


.is-mobile .workspace-tabs {
  gap: 0px;
  border: none;
}

.mod-rtl.is-mobile {
  --nav-item-padding: 0 0 0 0;
}
.is-mobile .community-modal-button-container {
  margin-bottom: var(--safe-area-inset-bottom);
  width: 100%;
}
.is-mobile .combobox-button {
  gap: 0px;
}
.is-mobile .combobox-clear-button {
  --icon-size: var(--icon-s);
  --icon-stroke: var(--icon-s-stroke-width);
}
*/
.is-mobile body .workspace-ribbon {
  padding: 0px 0px 0px;
  border: none;
}
.is-mobile .menu {
  --background-modifier-form-field: var(--interactive-normal);
  --dropdown-background: var(--interactive-normal);
  --input-height: 40px;
  border: none;
  max-width: 100%;
}
.is-phone {
  --menu-padding: var(--size-4-2) var(--size-4-4);
}
.is-phone .menu-grabber {
  transition: width 0.15s var(--anim-motion-swing), background-color 0.3s var(--anim-motion-swing);
  height: var(--size-4-1);
  background: var(--text-faint);
  display: flex;
  width: 15%;
  border-radius: var(--radius-xl);
  margin: var(--size-4-2) auto var(--size-4-1);
  position: relative;
}
.is-phone.hide-cursor .menu-grabber {
  background: var(--text-muted);
  width: 14%;
}
.is-phone .menu {
  background-color: var(--background-secondary);
  min-width: unset;
  position: absolute;
  border-radius: var(--radius-l) var(--radius-l) 0 0;
  bottom: 0;
  left: var(--safe-area-inset-left);
  right: var(--safe-area-inset-right);
  margin: 0 auto;
  top: unset !important;
}
.is-phone .menu-scroll {
  max-height: 60vh;
  background-color: var(--background-secondary);
  padding-bottom: var(--safe-area-inset-bottom) !important;
}
.is-phone .menu-group .menu-item.is-label + .menu-item:not(.is-label) {
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
}
.is-phone .menu-group .menu-item:first-child {
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
}
.is-phone .menu-group .menu-item:last-child {
  border-bottom-left-radius: var(--radius-l);
  border-bottom-right-radius: var(--radius-l);
}
.is-phone .menu-group .menu-item:not(:last-child) {
  border-bottom: 1px solid var(--menu-background);
}
.is-phone .menu .suggestion-group .suggestion-item:first-child {
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
}
.is-phone .menu .suggestion-group .suggestion-item:last-child {
  border-bottom-left-radius: var(--radius-l);
  border-bottom-right-radius: var(--radius-l);
}
.is-phone .menu .suggestion-group .suggestion-item,
.is-phone .menu-item {
  transition: background-color 0.1s ease-in-out;
  padding: var(--size-4-3) var(--size-4-3);
  height: unset;
  line-height: unset;
  border-radius: 0;
}
.is-phone .menu .suggestion-group .suggestion-item:not(.is-label),
.is-phone .menu-item:not(.is-label) {
  background-color: var(--interactive-normal);
}
.is-phone .menu .suggestion-group .suggestion-item.mobile-tap:not(.is-disabled),
.is-phone .menu-item.mobile-tap:not(.is-disabled) {
  background-color: var(--interactive-hover);
}
.is-phone .menu-separator {
  margin: var(--size-4-1) 0;
  border: 0;
}
.is-phone .menu-item.is-label .menu-item-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.is-mobile .modal {
  border: none;
}
.is-mobile .modal-button-container {
  display: flex;
  flex-direction: column;
}
.is-mobile .mod-confirmation .modal-close-button {
  display: none;
}
.is-mobile button.mod-warning {
  background-color: var(--interactive-normal);
  font-weight: calc(var(--font-weight) + var(--bold-modifier));
  color: var(--text-error);
}
.is-phone .modal,
.is-phone .prompt {
  border: none;
  width: 100vw;
  max-width: 100vw;
  min-width: unset;
  left: 0;
  right: 0;
}
.is-phone .modal {
  border-radius: var(--radius-m);
  max-height: calc(100vh - var(--safe-area-inset-top));
  padding: 0 var(--safe-area-inset-right) 0 var(--safe-area-inset-left);
  bottom: 0;
}
.is-phone .modal .modal-close-button {
  top: var(--size-4-3);
  z-index: var(--layer-modal);
}
.is-phone .modal .modal:not(.mod-lg) {
  --interactive-normal: var(--background-modifier-hover);
  background-color: var(--background-secondary);
}
.is-phone .modal-container.mod-confirmation {
  align-items: flex-end;
}
.is-phone .modal-container.mod-confirmation .modal {
  border-radius: var(--radius-m) var(--radius-m) 0 0;
}
.is-phone .modal-container.mod-confirmation .modal-header {
  border-bottom: var(--border-width) solid var(--background-modifier-border);
}
.is-phone .modal-sidebar {
  background-color: var(--background-primary);
}

.is-phone .modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 0;
  overflow: auto;
  padding: var(--size-4-3);
}
.is-phone .modal-button-container {
  width: 100%;
  padding: var(--size-4-3);
  margin-top: 0;
  margin-bottom: var(--safe-area-inset-bottom);
}
.is-phone .modal-button-container button.mod-cancel {
  margin-top: var(--size-4-1);
}
.is-phone .modal-header {
  margin-bottom: 0;
  padding: var(--size-4-4) 0;
  position: relative;
  width: 100%;
}
.is-phone .modal-title {
  display: block;
  font-size: var(--font-ui-medium);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70vw;
}
.is-phone .modal-cta-button {
  color: var(--text-accent);
  font-weight: var(--font-semibold);
  position: absolute;
  right: 0;
  top: 0;
  margin: var(--size-4-4);
}
.is-phone .modal-cta-button.mobile-tap {
  color: var(--text-accent-hover);
}
.is-phone .modal.mod-lg,
.is-phone .modal.mod-sidebar-layout {
  bottom: 0;
  top: 0;
  border-radius: 0;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0 var(--safe-area-inset-right) 0 var(--safe-area-inset-left);
  box-shadow: none;
  width: 100vw;
}
.is-phone .modal.mod-lg .search-input-container,
.is-phone .modal.mod-sidebar-layout .search-input-container {
  flex-grow: 1;
}
.is-phone .modal.mod-lg .modal-header,
.is-phone .modal.mod-sidebar-layout .modal-header {
  border-bottom: var(--border-width) solid var(--background-modifier-border);
  display: block;
  padding-top: calc(var(--safe-area-inset-top) + var(--size-4-3));
  padding-bottom: var(--size-4-3);
  margin-bottom: 0;
}
.is-phone .modal.mod-lg .modal-close-button,
.is-phone .modal.mod-sidebar-layout .modal-close-button {
  top: calc(var(--safe-area-inset-top) + 10px);
  inset-inline-end: var(--size-4-3);
}
.is-phone .modal.mod-sidebar-layout .modal-content > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 var(--safe-area-inset-right) 0 var(--safe-area-inset-left);
}
.is-phone .error-container {
  height: 100%;
  justify-content: center;
}
.mobile-navbar {
  max-width:none;
  height: 37px;

  /* 
  background-color:var(--background-primary);
  padding-top: var(--size-4-2);
  padding-bottom: calc(var(--safe-area-inset-bottom) - var(--keyboard-height) - var(--keyboard-height));
  padding-right: calc(var(--size-4-2) + var(--safe-area-inset-right));
  padding-left: calc(var(--size-4-2) + var(--safe-area-inset-left));
  */
}
body.is-tablet .mobile-navbar {
  display: none;
}
.mobile-navbar-text {
  font-size: var(--font-ui-small);
  padding: var(--size-4-1) 0;
  white-space: nowrap;
  text-overflow: clip;
  width: 100%;
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) var(--size-4-4), #000000 var(--size-4-8));
}
.mobile-navbar-actions {
  --icon-size: 20px;
  --icon-stroke: var(--icon-l-stroke-width);
  --icon-color: var(--interactive-accent);
  --icon-color-hover: var(--interactive-accent);
  --icon-color-active: var(--interactive-accent-hover);
  --icon-color-focus: var(--interactive-accent-hover);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.mobile-navbar-action {
  flex-grow: 1;
  transition: opacity 0.1s ease-in-out;
}
.mobile-navbar-action.mobile-tap {
  opacity: var(--icon-opacity-hover);
}
.mobile-navbar-action .clickable-icon,.mobile-navbar-action button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.is-phone .view-header .view-action{
  height: 38px;
}
.view-header-title-container {
    justify-content: left;
}
.is-phone .view-header .clickable-icon {
  justify-content: center !important;
  padding: 1px;
  margin: 0 7px 0 0 !important;
  width: auto;
}
.is-phone .view-header-left .clickable-icon {
  justify-content: center !important;
  padding-top: 4px !important;
  margin: 0 0 0 0 !important;
  width: 38px !important;
}
.clickable-icon {
  justify-content: center !important;
}
.is-phone .view-header .view-actions{
    padding-right: 6px;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
    justify-content: space-around !important;
    min-width: 50%;
}
.is-phone .view-header{
  width: 98% !important;
}
.is-phone .view-header-title-container {
    height: 38px;
}
.is-phone .view-header-left {
    flex: 0;
    align-items: center;
    display: flex;
    height: 15px;
    justify-content: center;
    width: 38px !important;
}

.mobile-navbar-action-tabs {
  position: relative;
}
.mobile-navbar-action-tabs .mobile-navbar-tabs-number {
  position: absolute;
  align-items: center;
  display: flex;
  font-size: calc(var(--icon-size) * 0.55);
  font-weight: var(--bold-weight);
  justify-content: center;
  text-align: center;
  height: 100%;
  width: var(--icon-size);
  top: 0;
  bottom: 0;
  margin: auto;
}
.mobile-navbar-action.has-longpress-menu {
  position: relative;
}
.mobile-navbar-action.has-longpress-menu .navbar-action-flair {
  --icon-size: 12px;
  --icon-stroke: 3px;
  opacity: var(--icon-opacity);
  color: var(--interactive-accent);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  display: flex;
  width: fit-content;
  transform: translateX(calc(var(--icon-size) * -1 - 6px));
}
.is-phone .notice-container {
  padding: 0;
  top: auto;
  bottom: max(var(--size-4-1),var(--safe-area-inset-bottom));
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0 auto 48px;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  padding-right: max(var(--size-4-3), var(--safe-area-inset-right));
  padding-left: max(var(--size-4-3), var(--safe-area-inset-left));
  gap: var(--size-4-1);
}
.is-phone .notice {
  border-radius: var(--radius-m);
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  box-shadow: none;
  font-weight: var(--font-medium);
  font-size: var(--font-ui-smaller);
  border: var(--border-width) solid var(--background-modifier-border);
  padding: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.is-mobile .prompt {
  border: none;
}
.theme-dark.is-mobile .prompt {
  background-color: var(--background-secondary);
}
.theme-dark.is-mobile .prompt input.prompt-input {
  background-color: var(--background-secondary);
}
.is-mobile .prompt-input-cta {
  --icon-color: var(--interactive-accent);
  position: absolute;
  top: 0;
  bottom: 0px;
  inset-inline-end: var(--size-4-8);
  line-height: 0;
  display: flex;
  align-items: center;
  height: var(--input-height);
  margin: auto;
  padding: 0 var(--size-4-3);
  justify-content: center;
  flex: 0 1 auto;
}
.is-mobile .prompt-input[type=text] {
  padding: var(--size-4-4);
}
.is-mobile .prompt {
  --prompt-top: calc(var(--safe-area-inset-top) + var(--header-height) + var(--size-4-2));
  top: var(--prompt-top);
  max-height: min(var(--prompt-max-height), calc(100vh - var(--prompt-top) - var(--safe-area-inset-bottom)));
}
.is-ios.is-tablet .prompt {
  transform: translateZ(0);
}
.is-phone .prompt {
  margin: 0 auto;
  width: calc(100% - var(--safe-area-inset-left) - var(--safe-area-inset-right));
  border-radius: var(--radius-l) var(--radius-l) 0 0;
  min-width: unset;
  box-shadow: none;
  padding-bottom: var(--safe-area-inset-bottom);
  max-height: 100vh;
  height: calc(100vh - var(--prompt-top));
}
.is-phone .prompt .suggestion-hotkey {
  display: none;
}
.is-phone .prompt-input-container {
  border-bottom: var(--border-width) solid var(--background-modifier-border);
}
.is-phone .prompt-input[type=text] {
  border: none;
  padding-inline-end: var(--size-4-12);
}
.is-phone .prompt-instructions {
  display: none;
}
.pull-action {
  position: absolute;
  background-color: var(--background-secondary);
  z-index: var(--layer-popover);
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  transition: background-color ease-in-out 150ms;
}
.pull-action.mod-activated {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}
.pull-down-action {
  top: 0;
  left: 0;
  right: 0;
  width: 96%;
  max-width: 500px;
  margin: var(--safe-area-inset-top) auto 0 auto;
  padding: var(--size-4-3) var(--size-4-4);
  text-align: center;
  border-radius: 40px;
}
.pull-out-action {
  top: 50%;
  padding: var(--size-4-3) var(--size-4-4);
  border-radius: 40px;
  margin: 0 var(--size-4-4);
}
.is-phone {
  --toolbar-option-width: 40px;
}
.is-tablet {
  --toolbar-option-width: 50px;
}
.mobile-toolbar {
  -webkit-app-region: drag;
  flex: 0 0 auto;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: calc(100vh - var(--keyboard-height) - var(--mobile-toolbar-height));
  padding-left: var(--safe-area-inset-left);
  padding-bottom: var(--safe-area-inset-bottom);
  padding-right: var(--safe-area-inset-right);
  background-color: var(--background-primary);
  z-index: var(--layer-menu);
}
.mobile-toolbar-spacer {
  background-color: var(--background-primary);
  height: var(--mobile-toolbar-height);
  display: flex;
  width: 100%;
}
.mobile-toolbar-options-container {
  --scroll-fade-offset-right: var(--toolbar-option-width);
  height: var(--mobile-toolbar-height);
  display: flex;
  width: 100%;
}
.mobile-toolbar-options-list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
  scrollbar-width: none !important;
  /* Firefox */
  -ms-overflow-style: none !important;
  /* Internet Explorer 10+ */
}
.mobile-toolbar-options-list::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.mobile-toolbar-floating-options {
  display: flex;
}
.mobile-toolbar-floating-options .mobile-toolbar-option {
  min-width: var(--toolbar-option-width);
  color: var(--text-accent);
}
.mobile-toolbar-option {
  display: flex;
  font-size: var(--font-ui-medium);
  color: var(--text-muted);
  font-family: var(--font-monospace);
  justify-content: center;
  align-items: center;
  min-width: var(--toolbar-option-width);
}
.mobile-tab-switcher {
  background-color: var(--tab-switcher-background);
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-modal);
}
.mobile-tab-switcher-scroll {
  padding-top: var(--safe-area-inset-top);
  background-color: var(--tab-switcher-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.mobile-tab-switcher-inner-scroll {
  flex: 1 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
body.is-ios .mobile-tab-switcher-inner-scroll {
  min-height: calc(100% + 1px);
}
.mobile-tab-switcher-menubar {
  --icon-size: 26px;
  --icon-stroke: var(--icon-l-stroke-width);
  --icon-color: var(--interactive-accent);
  --icon-color-hover: var(--interactive-accent);
  --icon-color-active: var(--interactive-accent-hover);
  --icon-color-focus: var(--interactive-accent-hover);
  background-color: var(--tab-switcher-menubar-background);
  display: flex;
  border-top: var(--border-width) solid var(--background-modifier-border);
  align-items: center;
  justify-content: space-between;
  padding-top: var(--size-4-2);
  padding-bottom: max(var(--size-4-2), var(--safe-area-inset-bottom));
  padding-left: max(var(--safe-area-inset-left), var(--size-4-4));
  padding-right: max(var(--safe-area-inset-right), var(--size-4-4));
  font-weight: var(--font-semibold);
}
.mobile-tab-switcher-menu-button {
  display: flex;
  align-items: center;
  gap: var(--size-4-1);
  transition: opacity 0.1s ease-in-out;
}
.mobile-tab-switcher-menu-button.mobile-tap {
  opacity: var(--icon-opacity-hover);
}
.mobile-tab-switcher-menu-button-chevron {
  --icon-size: var(--icon-s);
  --icon-stroke: var(--icon-s-stroke-width);
  color: var(--text-faint);
  display: flex;
  align-items: center;
}
.mobile-tab-switcher-menu-spacer {
  display: flex;
  flex: 1 0 0;
}
.mobile-tab-switcher-menu-spacer:first-child {
  justify-content: flex-start;
}
.mobile-tab-switcher-menu-spacer:last-child {
  justify-content: flex-end;
}
.mobile-tab-switcher-search {
  margin: var(--size-4-4);
  margin-top: 50px;
}
.mobile-tab-group-container {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: var(--size-4-4);
  row-gap: var(--size-4-6);
  justify-content: flex-start;
  margin: var(--size-4-4);
  flex-wrap: wrap;
}
.mobile-tab-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(50% - var(--size-4-2));
}
.mobile-tab {
  gap: var(--size-4-2);
  flex-direction: column;
  display: flex;
  scroll-margin: var(--size-4-3);
}
.mobile-tab.is-active .mobile-tab-preview-empty,
.mobile-tab.is-active .mobile-tab-preview-embed {
  box-shadow: var(--tab-switcher-preview-shadow-active);
}
.mobile-tab .mobile-tab-pin,
.mobile-tab .close-button {
  --icon-size: var(--icon-m);
  background-color: var(--background-primary-alt);
  position: absolute;
  top: var(--size-4-2);
  inset-inline-end: var(--size-4-2);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: var(--radius-xl);
}
.mobile-tab .mobile-tab-pin {
  color: var(--interactive-accent);
}
.mobile-tab-footer {
  display: flex;
  gap: var(--size-4-1);
}
.mobile-tab-title {
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-medium);
  color: var(--text-normal);
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
  unicode-bidi: plaintext;
  text-align: center;
}
.mobile-tab-preview {
  position: relative;
  height: 200px;
  background-color: var(--background-primary);
  border-radius: var(--tab-switcher-preview-radius);
}
.mobile-tab-preview:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: var(--tab-switcher-preview-background-shadow);
  border-radius: var(--tab-switcher-preview-radius);
}
.mobile-tab-preview-empty {
  --icon-size: var(--icon-xl);
  --icon-stroke: var(--icon-xl-stroke-width);
  z-index: 1;
  position: absolute;
  box-shadow: var(--tab-switcher-preview-shadow);
  background-color: var(--background-primary);
  color: var(--text-faint);
  border-radius: var(--tab-switcher-preview-radius);
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-tab-preview-embed {
  z-index: 1;
  position: absolute;
  box-shadow: var(--tab-switcher-preview-shadow);
  background-color: var(--background-primary);
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
  border-radius: var(--tab-switcher-preview-radius);
  pointer-events: none;
}
.mobile-tab-preview-embed ::-webkit-scrollbar {
  display: none;
}
.is-mobile .suggestion-item {
  padding: var(--size-4-2) var(--size-4-3);
}
.is-tablet.theme-dark .suggestion-container {
  background-color: var(--background-secondary);
}
.is-phone .suggestion-item.mod-group {
  border-radius: 0;
}
.is-mobile .publish-changes-info-publishing-to {
  display: none;
}
.is-mobile .publish-changes-add-linked-btn {
  width: auto;
}
.is-mobile .file-tree .tree-item-self {
  font-size: var(--font-ui-small);
}
.nav-file-title, .nav-folder-title{
  margin-bottom: 2px;
}
.is-phone .nav-buttons-container{
  padding: 12px;
  bottom: 10px;
  top: unset;
  justify-content: space-around;
}
.workspace-drawer .nav-buttons-container .nav-action-button {
    padding: 2px;
    height: 38px;
    width: 38px;
}
.workspace-drawer-active-tab-content > *{
  padding-left: 8px;
  padding-right: 8px;
}
.workspace-drawer-tab-select .workspace-tab-header-inner {
    padding: 12px;
    height: 38px;
}
.workspace-drawer-header {
    padding-inline-end: 10px;
    padding-inline-start: 18px;
    padding-top: 7px;
    gap: 3px;
}

.nav-file-title, .nav-folder-title {
    margin-bottom: 2px;
    font-size: 14px;
}
.is-phone .modal.mod-publish {
  border-radius: 0;
}
.is-phone .modal.mod-publish .modal-button-container {
  background-color: var(--modal-background);
  position: fixed;
}
.is-phone .modal.mod-publish .modal-content {
  display: unset;
}
.is-phone .publish-changes-info {
  flex-wrap: wrap;
}
.is-phone .publish-changes-info .search-input-container {
  width: auto;
}
.is-mobile .sync-history-list {
  padding-left: max(var(--size-4-5), var(--safe-area-inset-left));
  padding-right: max(var(--size-4-5), var(--safe-area-inset-right));
  padding-bottom: max(var(--size-4-2), var(--safe-area-inset-bottom));
}
.is-mobile .sync-history-list-item-header {
  margin-bottom: 0;
}
.is-mobile .sync-history-list-item-details {
  padding: var(--size-4-1) var(--size-4-4);
}
.is-mobile .sync-history-content-container {
  display: flex;
  flex-direction: column;
  max-width: unset;
}
.is-mobile .sync-history-content {
  flex: 1 1 auto;
  border-radius: 0;
  border: none;
}
.is-phone .modal.mod-sync-log .modal-content {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
.is-phone .modal.mod-sync-log .modal-content > .setting-item {
  padding: var(--size-4-3);
}
.is-phone .modal.mod-sync-log .modal-content .sync-log-container {
  flex: 1 1 auto;
  border: none;
  border-radius: 0;
}
.is-phone .sync-history-list-item:not(:first-child) {
  border-top: var(--border-width) solid var(--background-modifier-border);
}
.is-phone .sync-history-list-item-header {
  margin: 0;
  border-radius: 0;
}
.is-phone .modal.mod-sync-history .search-input-container {
  width: 100%;
  margin-bottom: 0;
}
.is-phone .sync-history-list-container {
  border: none;
  background-color: var(--background-primary);
  display: block;
}
.is-phone .sync-history-preview {
  padding-bottom: max(var(--size-4-6), var(--safe-area-inset-bottom));
}
.is-phone .sync-history-content .modal-setting-title {
  display: none;
}
.is-phone .sync-history-content .setting-item {
  flex-direction: column;
  align-items: start;
}
.is-phone .sync-history-content .setting-item:first-child {
  padding: 0 var(--size-4-6) var(--size-4-4);
}
.is-phone .sync-history-content .setting-item-name {
  font-weight: var(--font-semibold);
  font-size: var(--font-ui-large);
  white-space: normal;
}
.is-phone .sync-history-content .setting-item-control {
  padding-inline-end: 0;
}
.is-phone .sync-history-content .setting-item-control label {
  min-width: fit-content;
}
.is-phone .sync-history-content .modal-setting-titlebar {
  padding-inline-end: var(--size-4-4);
}
.is-phone .sync-vault-share-container .setting-item-control {
  flex-direction: column;
}
.mobile-vault-chooser {
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  position: relative;
}
.mobile-vault-chooser hr {
  margin: 12px 0;
  border-width: var(--border-width);
}
.mobile-vault-chooser-screen {
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: var(--safe-area-inset-top);
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
}
.mobile-vault-chooser-header {
  display: flex;
  background-color: var(--background-primary);
  border-bottom: var(--border-width) solid var(--background-modifier-border);
  color: var(--text-muted);
  flex: 0 0 50px;
  font-size: 18px;
  align-items: center;
}
.mobile-vault-chooser-header-icon {
  display: flex;
  margin: 0 6px 0 10px;
}
.mobile-vault-chooser-content {
  flex: 1 0 0;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: var(--safe-area-inset-bottom);
}
.mobile-vault-chooser-logo-container {
  margin: 40px 0;
  text-align: center;
  color: var(--text-muted);
}
.mobile-vault-logo-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.mobile-vault-chooser-load-text {
  margin: 20px 0;
  text-align: center;
}
.mobile-vault-chooser-version {
  font-size: var(--font-ui-small);
  color: var(--text-faint);
}
.mobile-vault-chooser-empty-state {
  margin: 20px 0;
  font-size: 17px;
  color: var(--text-muted);
}
.mobile-vault-chooser-actions {
  padding-bottom: 40px;
}
.mobile-vault-chooser-action-icon {
  color: var(--text-muted);
  display: flex;
  padding: 10px;
  margin: -10px 0;
}
.mobile-vault-chooser-action {
  border-radius: var(--radius-s);
  display: flex;
  padding: 14px 0;
  align-items: center;
  font-size: 18px;
}
.mobile-vault-chooser-action.mobile-tap {
  background-color: var(--background-modifier-hover);
}
.mobile-vault-chooser-action-name {
  flex: 1 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mobile-vault-chooser-action-description {
  color: var(--text-muted);
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 110px);
  white-space: nowrap;
}
.mobile-vault-chooser-field-name {
  color: var(--text-muted);
  margin: 20px 0 10px 0;
  font-size: 18px;
}
input.mobile-vault-chooser-field-input {
  width: 100%;
  font-size: var(--font-ui-medium);
  padding: 8px 12px;
  height: auto;
}
.mobile-vault-chooser-button-container {
  margin: 20px 0;
}
.mobile-vault-chooser-button-container button {
  padding: 10px 20px;
  font-size: var(--font-ui-medium);
  width: 100%;
}
.mobile-vault-chooser-load-button button {
  margin-top: var(--size-4-3);
  width: 100%;
}
button {
  font-size:small;
}
.is-phone .modal .setting-item-control input{
  width: auto;
}
.is-phone .modal .setting-item-control select, .is-phone .modal .setting-item-control input, .is-phone .modal .setting-item-control button:not(.clickable-icon) {
    width: auto;
    margin: 0;
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}
.is-phone .modal .setting-item:not(:is(.mod-toggle, .setting-item-heading)) {
    flex-direction: row;
    align-items: flex-start;
}
.setting-item-info {
    flex: 100%;
}
.mobile-vault-chooser-load-callout {
  text-align: start;
  background-color: var(--background-primary-alt);
  border-radius: var(--radius-m);
  padding: var(--size-4-4) var(--size-4-6);
}
.mobile-vault-chooser-load-callout .mobile-vault-chooser-callout-title {
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  font-weight: var(--font-medium);
}
.mobile-vault-chooser-load-callout p {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-normal);
}